body {
    background-color:#26BCE0;
}

header {
    background-color:#eb82a7;
    border: dotted 3px rgb(0, 0, 0);
    padding: 10px;
    margin: 20px;
}

nav {
    background-color:#E0CF10;
    border:dashed 5px #00566b;
    border-style: dotted;
}

h1 {
    float:none;
    width: 100px;
    margin-right: 200px;
}

section {
    background-color: #E0CF10;
    border:solid black 3px ;
    padding: 1%;
}

img {
    float:none;
    margin-left:20px;
    border:solid black;
}